<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>com.foodapp.controller.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartItem</display-name>
    <servlet-name>RemoveCartItem</servlet-name>
    <servlet-class>com.foodapp.controller.RemoveCartItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartItem</servlet-name>
    <url-pattern>/RemoveCartItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeItem</display-name>
    <servlet-name>removeItem</servlet-name>
    <servlet-class>com.foodapp.controller.removeItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeItem</servlet-name>
    <url-pattern>/removeItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.foodapp.controller.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOrder</display-name>
    <servlet-name>ConfirmOrder</servlet-name>
    <servlet-class>com.foodapp.controller.ConfirmOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrder</servlet-name>
    <url-pattern>/ConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>com.foodapp.controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
</web-app>